@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    background-color: #000000;
    font-family: 'Satoshi', sans-serif;
    color: #FFFFF0;;
}




button, input, select, textarea, a, img {
    outline: none;
}

#menu-button-plus:focus,
#menu-button-minus:focus {
    outline: none;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px; /* Add padding for spacing */
}

.about-info {
    max-width: 40%; 
    color: #FFFFF0;
    padding-right: 20px; 
    margin-top: 3em;
}

.fotos-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.about-image {
    max-width: 22%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-right: 0.5em;
}

.fotos-image {
    max-width: 100%;
    height: auto;
}

.footer {
    height: 50px; /* Adjust the height as needed */
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: baseline;
    text-align: center;
    padding-top: 2em;
    margin-left: 1.7em;
    color: #BEBEAF;;
    font-size: 15px;
}


@media only screen and (max-width: 750px) {
    body {
        height: 100%;
        overflow-x: hidden;
    }


    .work-info {
        position: relative; /* Change from fixed to static for mobile layout */
        margin: 20px;
        top: 8px; /* Adjust based on your top bar height */
        left: -4.8px;
        max-width: 90%; /* Adjust width as needed */
        color: #FFFFF0;
        margin-top: 5em;

    }



    .work-text {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 1px;
      
    }
    
    .work-description {
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
    }

    .container-images {
        margin-left: 0; /* Reset margin */
        margin-top: 30px;
        /* Add some space from the description */
    }

    .work-images {
        max-width: 90%; /* Ensures the image doesn't exceed its container */
        height: auto; /* Maintains aspect ratio */
        max-height:56vh; /* Limits the maximum height */
        margin-top: 0.5em; /* Adjusted margin-top */  
}

.container-images {
    margin-left: 0; /* Reset margin */
    margin-top: 30px; /* Add some space from the description */
}

.work-images {
    max-width: 90%; /* Ensures the image doesn't exceed its container */
    height: auto; /* Maintains aspect ratio */
    max-height: 56vh; /* Limits the maximum height */
    margin-top: 0.5em; /* Adjusted margin-top */  
}

.about-info {
    max-width: 100%; /* Adjust width as needed */
    text-align: left; /* Center the text */
    padding-right: 0; /* Remove right padding */
    margin-top: 2em; /* Adjust top margin */
    margin-left: -0.2em; /* Center align */
    margin-right: auto; /* Center align */
   
}

.fotos-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

.about-image {
    max-width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center the image */
    margin-top: 2em; /* Adjust top margin */
}

.content {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center align both image and text */
}

.about-image {
    order: -1; /* Ensures the image comes before the text */
    margin-top: 1em; /* Adjust as necessary */
}

.about-info {
    order: 0; /* Ensures the text comes after the image */
    margin-top: 1em; /* Adjust as necessary */
}


.footer {
    height: 50px; /* Adjust the height as needed */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    padding-top: 1em;
    margin-left: 0em;
    color: #BEBEAF;;
    font-size: 14px;
}


}