@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    background-color: #000000;
    font-family: 'Satoshi', sans-serif;
    color: #FFFFF0;
}

.overlay-title {
    font-weight: 700; 
    margin-bottom: 10px; 
    text-align: center;
    white-space: normal;  /* allow wrapping */
    word-break: break-word;
    max-width: 90%;
}

.overlay-title.long {
    font-size: 20px;
    line-height: 1.2;
}


.container{
    /* background-color:pink; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 4.5em;
}

#container-1{

    width: calc(100% / 3);
    display: block;
    
}

#container-2{

    width: calc(100% / 3);
    display: block;
}


#container-3{
  
    width: calc(100% / 3);
    display: block;
}

.containers{
width: fit-content;
padding:10px; /*Antes era 5px */
cursor: pointer;
}

img{
  width: 100%;
  transition: opacity 0.25s ease-out, background-color 0.25s ease-out;
}

.containers h2, p{
    display: inline-block;
    margin-top: 10px;
}

h2{
    text-align: left;
    width: 75%;
    font-size: 1em;

}

.year{
    text-align: right;
    width: 25%;
}

h3{
    margin-top: -10px;
    font-size: 0.8em;
    color: #fffff0;
    font-weight: 100;
    /* text-transform: uppercase; */
}

p{
    font-weight: 100;
    font-size: 0.8em;
}

img:hover  {
    background-color:#000;
    opacity:0.5;
}

video{
  width: 100%;
  transition: opacity 0.25s ease-out, background-color 0.25s ease-out;
}

video:hover  {
    background-color:#000;
    opacity:0.7;
}

#menu-button-plus:focus,
#menu-button-minus:focus {
    outline: none;
}


.mobile-container{
    display: none;
}

a{
    text-decoration: none;
    color: #FFFFF0;
}

.footer {
    width: 100%;
    height: 50px; 
    background-color: rgb(0, 0, 0);
    display: inline-block !important;
    align-items: center;
    text-align: center;
    color: #BEBEAF;
    font-size: 15px;

}


    .placeholder-text {
        display: block;
    }

@media only screen and (max-width: 750px) {
    
     body {
        height: 100%;
        overflow-x: hidden;
    }

    .container{
    display: none;
  }


  .mobile-container{
    
    /* background-color:pink;  */
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -1em;
}

.mobile-container-container{
    height:100vh;
    width: 100%;
    display: inline-block;
    /* background-color:red;  */
}

.containers{
width: fit-content;
padding:10px;

}

img{
  width: 100%;
  transition: opacity 0.25s ease-out, background-color 0.25s ease-out;
}


    .footer {
        height: 50px;
        background-color: black;
        justify-content: center;
        padding-top: 1em;
        color: #BEBEAF;
        font-size: 14px;
    }


  }