@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    background-color: #000000;
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.container {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
    margin-top: 5em; 
}

.item {
    max-width: 100%; 
    height: auto; 
    max-height: 39.7vh; 
    margin-top: 0.5em; 
    transition: filter 0.3s ease; 
}

.item:hover {
    filter: blur(4px); 
}


.item-container {
    position: relative;
    max-width: 100%;
    height: auto; 
    max-height: 39.7vh; 
    margin-top: 0.5em; 
    display: inline-block;
    overflow: hidden;
}

.item {
    width: 100%; 
    height: 100%; 
    display: block;
    transition: filter 0.3s ease; 
}

.item-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFF0;
    font-size: 20px; 
    opacity: 0;
    transition: opacity 0.3s ease; 
    font-weight: 300;
}

.item-container .overlay-title {
    font-weight: 700; 
    margin-bottom: 10px; 
}

.item-container:hover .overlay {
    opacity: 1; 
    cursor: pointer;
}

.item-container:hover .item {
    filter: blur(5px); 
    
}

.placeholder-text-title-title {
    display:none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

#menu-button-plus:focus,
#menu-button-minus:focus {
    outline: none;
}

.footer {
    height: 50px; 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    color: #BEBEAF;
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    body {
        height: 100%;
        overflow-x: hidden;
    }


    .container {
        margin-top: 5em;
        justify-content: center;
    }

    .item-container {
        position: relative;
        max-width: 100%; 
        height: auto; 
        max-height: 51vh; 
        margin-top: 0.5em; 
        display: inline-block;
        overflow: hidden;
    }


    .item {
        width: 100%; 
        height: 100%; 
        display: block;
        transition: filter 0.3s ease; 
    }
    
    .item-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        color: #FFFFF0;
        font-size: 20px; 
        opacity: 0;
        transition: opacity 0.3s ease; 
        font-weight: 300;
    }
    
    .item-container .overlay-title {
        font-weight: 700; 
        margin-bottom: 10px; 
    }
    
    .item-container:hover .overlay {
        opacity: 0; 
        cursor: pointer;
    }
    
    .item-container:hover .item {
        filter: blur(0px); 
        
    }


    .footer {
        height: 50px;
        background-color: black;
        justify-content: center;
        padding-top: 1em;
        color: #BEBEAF;
        font-size: 14px;
    }
    
  }