@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
    background-color: #000000;
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 220vh;
}

button, input, select, textarea, a, img {
    outline: none;
}

#menu-button-plus:focus,
#menu-button-minus:focus {
    outline: none;
}

.work-info {
    position: fixed;
    top: 90px; 
    left: 26px;
    max-width: calc(100% - 75%); 
    color: #FFFFF0;
}

.work-text {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.work-description {
    font-size: 17px;
    font-weight: 300;
    margin-top: 20px;
}

.work-description a{
    color: #FFFFEA; 
    text-decoration: underline; 
    margin-left: 0em;
}

.container-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(100% - 98%); 
    margin-top: 8.5em; 
    gap: 1em;
   
}

.work-images {
    max-width: 50%;
    height: auto;
    max-height: 70vh;
    margin-top: 0.5em;
}

.seta-icon {
    display: none;
}

.footer {
    height: 50px; 
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: baseline;
    text-align: center;
    padding-top: 2em;
    margin-left: 1.7em;
    color: #BEBEAF;;
    font-size: 15px;
}

#work-image-1{
    width: 45%;
  }
  
  #work-image-4{
      width: 35%;
    }

@media only screen and (max-width: 600px) {
    body {
        height:fit-content;
        overflow-x: hidden;
    }


    .work-info {
        position: relative; 
        margin: 20px;
        top: 8px; 
        left: -4.8px;
        max-width: 90%; 
        color: #FFFFF0;
        margin-top: 5em;

    }

    .work-text {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 1px;
      
    }
    
    .work-description {
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
    }

    .container-images {
        margin-left: 0; 
        margin-top: 30px;
    }

    .work-images {
        max-width: 90%; 
        height: auto;
        max-height:56vh; 
        margin-top: 0.5em; 
}

.seta-icon {
    display: block;
    width: 50px;
    height: auto;
    margin: 20px auto;
    cursor: default;
}

.footer {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    padding-top: 1em;
    margin-left: 0em;
    color: #BEBEAF;;
    font-size: 14px;
}

#work-image-1{
    width: 80%;
  }

#work-image-4{
    width: 70%;
  }

}